:root {
    /* COLORES */
    --main-color: rgb(216, 44, 81);
    --second-color:rgb(7, 146, 77);
    --soft-blue:rgb(18, 164, 201);
    --blakc : black;
    --grey:#bababa;
    --off-white: #f4f8f7;
    --soft-rosa :rgb(255, 217, 242);
    --warm-black :#201e1c  ;
    --celeste-final :rgb(210, 245, 233);
}
.container-main--artimg {
    text-align: center;
    width: 100%;
    height: auto;   
    padding: 5%;
    padding-top: 50px;
    background-color: var(--off-white);
}
.container-main--artimg h2 {    
    width: 80%;
    max-width: 700px;
    margin:  30px auto;
    margin-bottom: 40px;
    color: var(--warm-black);
    font-weight:normal;
    line-height: 2;
    
}
.container-main--artimg .container-figure {
    margin-bottom: 50px;
    position: relative;
    padding: 0 20px ;
    padding-bottom: 20px;
  
}

.container-main--artimg .container-figure img {
    
    width: 100%;
    height: 30vh;
    max-width: 350px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.container-main--artimg .container-figure p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 3rem;
    font-weight: bold;  
    color: #fd0339;
    text-shadow: -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px  1px 0 #000,
                1px  1px 0 #000;
}
.container-main--artimg .container-figure button {
    width: 100px;
    display: block;
    margin: 0 auto;
    color: aliceblue;
    background-color:red;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
}
.container-main--artimg figure p {
    display: block;;
}


.container-main--artimg .container-figure p:nth-child(2) {
    transition: opacity 0.3s ease-in-out;
}

.container-main--artimg .container-figure:hover p:nth-child(2) {
    opacity: 0;
}

.container-main--artimg .container-figure:hover img {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}
@media screen and (min-width:768px){
    .container-div--figuras {
        display: flex;
        flex-wrap: wrap;
        width: 100%  
    }
    .container-div--figuras .container-figure {
        flex: 1 1 calc(50% - 20px); /* 2 los elementos tendrán el mismo ancho */
        margin-bottom: 20px; /* Espacio entre las filas */
    }  
}
@media screen and (min-width: 1440px) {
    .container-div--figuras .container-figure {
      
        max-width: calc(25% - 20px); /* Cuatro elementos por fila en pantallas más grandes */
        margin: 0 10px 20px; /* Espacio entre los contenedores */
    }
}
